<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aura"
        tools:targetApi="31">

        <!-- Pantalla de inicio (Splash) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla de Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Pantalla para agregar contactos -->
        <activity
            android:name=".ui.AddContactActivity"
            android:exported="false" />

        <!-- Pantalla para ver lista de contactos -->
        <activity
            android:name=".ui.ContactListActivity"
            android:exported="false" />

    </application>
</manifest>
